
.online {
  background: #0edf5b85;
  height: 90%;
}

.online:hover {
  background: #0fe45db6;
}

.offline {
  background: #0066ff88
}

.serverDown {
  background: repeating-linear-gradient(
    -45deg,
    #e0c39800,
    #e4a126 3px,
    #46529800 3.5px,
    #46529800 6px
  );
}

.trackerDown {
  background: repeating-linear-gradient(
    -45deg,
    #e0c39800,
    #46529800 3px,
    #c049ba 3.5px,
    #00000000 6px
  );
}